<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/componente/head :: head"> 
</head>
<link rel="stylesheet" href="/css/index.css">

  
<body class="body_socios">
  <nav  th:replace="/componente/navbar :: navbar"></nav> 
 
  <div class="container mb-3">
    <h1 class="text-center text-dark">Lista de Socios</h1>
    <a class="btn btn-outline-warning mb-2" th:if="${session.tiposession == 1}" href="/socios/create">Nuevo Socio</a>

    <!-- Contenedor con scroll horizontal -->
    <div class="table-responsive form_socios">
        <table class="table table-striped form_socios">
            <thead class="form_socios">
                <tr class="form_socios">
                    <th th:if="${session.tiposession == 1}">ID</th>
                    <th>DNI</th>
                    <th>NOMBRES</th>
                    <th>APELLIDO P.</th>
                    <th>APELLIDO M.</th>
                    <th>CORREO</th>
                    <th>TELEFONO</th>
                    <th>DIRECCION</th>
                    <th>F. NACIMIENTO</th>
                    <th>OCUPACION</th>
                    <th>GENERO</th>
                    <th>F. AFILIACION</th>
                    <th>ESTADO</th>
                    <th>TIPO</th>
                    <th th:if="${session.tiposession == 1}">Acciones</th>
                </tr>
            </thead>
            <tbody class="form_socios">
                <tr class="form_socios" th:each="socio : ${socios}">
                    <td th:if="${session.tiposession == 1}" th:text="${socio.idsocio}"></td>
                    <td th:text="${socio.dni}"></td>
                    <td th:text="${socio.nombre}"></td>
                    <td th:text="${socio.apellidoP}"></td>
                    <td th:text="${socio.apellidoM}"></td>
                    <td th:text="${socio.correo}"></td>
                    <td th:text="${socio.telefono}"></td>
                    <td th:text="${socio.direccion}"></td>
                    <td th:text="${socio.fechaNacimiento}"></td>
                    <td th:text="${socio.ocupacion}"></td>
                    <td th:text="${socio.genero}"></td>
                    <td th:text="${socio.fechaAfiliacion}"></td>
                    <td th:text="${socio.estado == 1 ? 'Activo' : (socio.estado == 2 ? 'Inactivo' : 'Desconocido' )}"></td>
                    <td th:text="${socio.tipo == 1 ? 'Admin' : socio.tipo == 2 ? 'User' : 'otro'}"></td>
                    <td style="white-space: nowrap;">
                        <a class="btn btn-primary btn-sm" th:if="${session.tiposession == 1}" th:href="@{/socios/edit(id=${socio.idsocio})}">Editar</a>
                        <a class="btn btn-danger btn-sm" th:if="${session.tiposession == 1}" th:href="@{/socios/delete(id=${socio.idsocio})}">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5" th:if="${session.tiposession == 1}">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3>Buscar Beneficios por Socio</h3>
          </div>
          <div class="card-body">   
            <form th:action="@{/beneficios/listar-por-socio}" method="get">
              <div class="mb-3">
                <label for="socioId" class="form-label">ID del Socio</label>
                <input type="text" id="socioId" name="socioId" class="form-control" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Ver Beneficios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="/componente/footer :: footer"></footer>
</body>
</html>