<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/componente/head :: head">
</head>
<!-- <link rel="stylesheet" href="/css/padron.css"> -->
<link rel="stylesheet" href="/css/styles.css">
<body>

  <nav th:replace="/componente/navbar :: navbar"></nav>

  <!-- Lista de Socios -->
  <div class="container mb-5">
    <h1 class="text-center text-dark">Reporte de Socios</h1>
    
    <a class="btn cta-button mb-2" href="/socios/export/excel">Descargar Reporte en Excel</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th th:if="${session.tiposession == 1}">ID</th>
                    <th>DNI</th>
                    <th>NOMBRES</th>
                    <th>APELLIDO P.</th>
                    <th>APELLIDO M.</th>
                    <th>CORREO</th>
                    <th>TELEFONO</th>
                    <th>DIRECCION</th>
                    <th>F. NACIMIENTO</th>
                    <th>OCUPACION</th>
                    <th>GENERO</th>
                    <th>F. AFILIACION</th>
                    <th>ESTADO</th>
                    <th>TIPO</th>
                    <th th:if="${session.tiposession == 1}">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="socio : ${socios}">
                    <td th:if="${session.tiposession == 1}" th:text="${socio.idsocio}"></td>
                    <td th:text="${socio.dni}"></td>
                    <td th:text="${socio.nombre}"></td>
                    <td th:text="${socio.apellidoP}"></td>
                    <td th:text="${socio.apellidoM}"></td>
                    <td th:text="${socio.correo}"></td>
                    <td th:text="${socio.telefono}"></td>
                    <td th:text="${socio.direccion}"></td>
                    <td th:text="${socio.fechaNacimiento}"></td>
                    <td th:text="${socio.ocupacion}"></td>
                    <td th:text="${socio.genero}"></td>
                    <td th:text="${socio.fechaAfiliacion}"></td>
                    <td th:text="${socio.estado == 1 ? 'Activo' : (socio.estado == 2 ? 'Inactivo' : 'Desconocido' )}"></td>
                    <td th:text="${socio.tipo == 1 ? 'Admin' : socio.tipo == 2 ? 'User' : 'otro'}"></td>
                    <td class="actions" style="white-space: nowrap;">
                        <a class="btn btn-primary btn-sm" th:if="${session.tiposession == 1}" th:href="@{/socios/edit(id=${socio.idsocio})}">Editar</a>
                        <a class="btn btn-danger btn-sm" th:if="${session.tiposession == 1}" th:href="@{/socios/delete(id=${socio.idsocio})}">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
