<!-- 


<nav th:fragment="navbar" class="navbar navbar_nav navbar-expand-lg">
    <div class="container">
        <a th:href="@{/}">
            <img class="me-5" src="https://i.postimg.cc/PJ1cjxmK/ALLEGRO-2.png" width="90" height="30" alt="shop">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:if="${session.tiposession == 1}">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/socios}">Socio</a>
                </li>
                <li class="nav-item" th:if="${session.tiposession == 1}">
                    <a class="nav-link" th:href="@{/beneficios}">Beneficios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.tiposession == 1}" href="">Reporte</a>
                </li>
                <li class="nav-item" th:if="${session.tiposession == 1}">
                    <a class="nav-link" th:href="@{/usuario}">Usuario</a>
                </li>
                <li class="nav-item" th:if="${session.tiposession != null}">
                    <a class="nav-link" th:href="@{/socios/perfil}">Perfil</a>
                </li>
            </ul>
        </div>
        <a th:if="${session.tiposession == null}" class="navbar-brand" th:href="@{/usuario/login}">
            Ingresar <i class="fas fa-user"></i>
        </a>
        <a th:if="${session.tiposession != null}" class="navbar-brand" th:href="@{/usuario/logout}">
            Salir <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</nav> -->

<link rel="stylesheet" href="/css/padron.css">
<header  th:fragment="navbar">
    <nav>
        <a class="logo" th:href="@{/}">Club Allegro</a>
        <ul class="nav-links">
            <li >
                <a href="#inicio" th:href="@{/}" >Inicio</a></li>
            <li >
                <a href="#constelaciones" th:href="@{/socios}">Socio</a></li>
            <li th:if="${session.tiposession == 1}">
                <a href="#nebulosas" th:href="@{/beneficios}">Beneficios</a></li>
            <li th:if="${session.tiposession == 1}">
                <a href="#galaxias">Reporte</a></li>
            <li th:if="${session.tiposession == 1}">
                <a href="#contacto" th:href="@{/usuario}">Usuario</a></li>
            <li th:if="${session.tiposession != null}">
                <a href="#contacto" th:href="@{/socios/perfil}">Perfil</a></li>
        </ul>
        <a th:if="${session.tiposession == null}"  th:href="@{/usuario/login}">
            Ingresar <i class="fas fa-user"></i>
        </a>
        <a th:if="${session.tiposession != null}" class="cta-button" th:href="@{/usuario/logout}">
            Salir <i class="fas fa-sign-out-alt"></i>
        </a>
    </nav>
</header>

<!-- <link rel="stylesheet" href="/css/padron.css">

    <nav th:fragment="navbar">
        <div class="logo">Club Cósmico</div>
        <ul class="nav-links">
            <li th:if="${session.tiposession == 1}">
                <a th:href="@{/}">Inicio</a>
            </li>
            <li>
                <a th:href="@{/socios}">Socio</a>
            </li>
            <li th:if="${session.tiposession == 1}">
                <a th:href="@{/beneficios}">Beneficios</a>
            </li>
            <li th:if="${session.tiposession == 1}">
                <a href="#">Reporte</a>
            </li>
            <li th:if="${session.tiposession == 1}">
                <a th:href="@{/usuario}">Usuario</a>
            </li>
            <li th:if="${session.tiposession != null}">
                <a th:href="@{/socios/perfil}">Perfil</a>
            </li>
        </ul>
        <a th:if="${session.tiposession == null}" class="cta-button" th:href="@{/usuario/login}">
            Ingresar <i class="fas fa-user"></i>
        </a>
        <a th:if="${session.tiposession != null}" class="cta-button" th:href="@{/usuario/logout}">
            Salir <i class="fas fa-sign-out-alt"></i>
        </a>
    </nav> -->

